<div class="container">

  <div id='home' class="home-center"><a href="home"></a>
    <div class="profile">
      <div class="profile-image">
        <%= image_tag "profile.jpg", class:"img-prof", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>

      <div class="profile-writing">
        <h1 class="title-name">Doreen Lam</h1>
        <p class="title-subheading">Full stack web developer</p>
        <p class="title-subheading">London/Cambridge UK</p>
      </div>
    </div>
  </div>

  <div id="about" ><a href="about"></a>
    <h2 class="format-scroll">About me</h2>
    <div class="about-position">
      <div class="about-writing">
        <p class="about-p">Hi there! My name is Doreen. I am a data analyst turned full stack developer.
        </p>

        <p class="about-p">
        I'm a mathematics graduate from the University of Hertfordshire and a masters graduate from Imperial College London.
        I have since found an interest in web developement and graduated from Le Wagon's coding bootcamp summer of 2022. I have enjoyed combining problem solving skills with creative design.
        </p>

        <p class="about-p">
        When I am not coding, you can usually find me doodling on my Wacom or knitting.
        </p>
      </div>

      <div>
        <h3 class="tech-margin">Tech skills</h3>
        <div>
          <h4>Front end</h4>
          <ul class="about-p about-ul">
            <li >HTML</li>
            <li>CSS (inc. SASS) </li>
            <li>JavaScript</li>
          </ul>
        </div>

        <div>
          <h4>Frameworks and DevOps</h4>
          <ul class="about-p about-ul">
            <li>Ruby on rails</li>
            <li>Heroku</li>
          </ul>
        </div>

        <div>
          <h4>Data</h4>
          <ul class="about-p about-ul">
            <li>R (and Rshiny)</li>
            <li>Python</li>
            <li>SQL</li>
          </ul>
        </div>

        <div>
          <h4>Other</h4>
          <ul class="about-p about-ul">
            <li>GitHub</li>
            <li>Figma</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div id="work"><a href="work"></a>
    <h2 class="format-scroll">My projects</h2>
    <div class="work-grid">
      <button id="myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class= "work-card">
          <div class="work-card-header">
            <h4 class="work-color">Cost per mile calculator</h4>
            <h5 class="work-color">RAC Foundation</h5>
          </div>
          <%= image_tag "profilecalc.png", class:"work-pic"%>
        </div>
      </button>
      <%= render "modals/projectonemodal"%>
      <button id="myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <div class= "work-card">
            <div class="work-card-header">
              <h4 class="work-color">Santa's Chistmas problem</h4>
              <h5 class="work-color">RAC Foundation</h5>
            </div>
          <%= image_tag "santaprofile.png", class:"work-pic"%>
        </div>
      </button>
      <%= render "modals/projecttwomodal"%>
      <button id="myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <div class= "work-card">
          <div class="work-card-header">
            <h4 class="work-color">Planty</h4>
            <h5 class="work-color">Le Wagon</h5>
          </div>
          <%= image_tag "plantyprof.png", class:"work-pic"%>
        </div>
      </button>
      <%= render "modals/projectthreemodal"%>
      <button id="myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <div class= "work-card">
          <div class="work-card-header">
            <h4 class="work-color">Lemon</h4>
            <h5 class="work-color">Le Wagon</h5>
          </div>
            <%= image_tag "lemonprof.png", class:"work-pic"%>
        </div>
      </button>
      <%= render "modals/projectfourmodal"%>


    </div>
  </div>



  <div id="contact"><a href="contact"></a>
    <h2 class="format-scroll">Get in touch with me!</h2>
    <%= render "contacts/contact_form" %>
    <ul class="list-inline">
      <li><a href="https://github.com/dora13l" class="social-icon" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/doreen-lam-2b0489120/" class="social-icon" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </div>


</div>
